.App {
  text-align: center;
}
a {
  font-weight: bold;
  color: black;
}
.btn {
  color: white;
  font-weight: bold;
  font-size: large;
  background-color: teal;
}
@media (min-width: 768px){
  .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }
}
.links {
  color: darkblue;
}
